body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}

.instagram{
    width: 100px;
    height: 100px;
    float: left;
    overflow: hidden;
}

.instagram img {
    width: 100px;
    height: 11px;
}

/* Key API YT : AIzaSyCH1fWHEJwA4gGBZKwckOMHtXhOvMBzZto */